@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Sarabun', sans-serif;
}

.sessao {
    flex: 1;
    padding-left: 60px;
    padding-top: 40px;
    text-align: left;
}

.sessao h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Alfa Slab One', serif;
    font-weight: bold;
}

.sessao h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Alfa Slab One', serif;
}

.sessao img {
    max-width: 220px;
    height: auto;
    margin-left: 20px;
    float: right;
    padding-right: 20px;

}

.container {
    background-color: rgba(234, 234, 234, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(168, 168, 168, 1);
    text-align: center;
    width: 400px;
    height: 480px;
}

.main-content {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 140px;
}

.container h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: 'Alfa Slab One', serif;
}

.container h2 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Alfa Slab One', serif;
}

.container label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}

.opcao-compra label {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 5px;
}

.container button {
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(180deg, #86FF0E 0%, #6DDB00 100%);
    color: rgba(26, 52, 0, 1);
    font-size: 16px;
    font-family: 'Alfa Slab One', serif;
    cursor: pointer;
}

.container button:hover {
    background-color: #218838;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main-content {
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 140px;
}

.opcao-compra {
    margin: 10px 0;
}

.opcao {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.opcao input[type="radio"] {
    margin-right: 10px;
}



@media (max-width: 1024px) {
    .center {
        flex-direction: column;
        align-items: center;
    }

    .sessao {
        padding-right: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .sessao-links {
        margin-top: 20px;
    }

}

.opcao-fav {
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
    gap: 60px;
    padding-right: 70px;
}