[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
mysqlclient = {file = "mysqlclient-2.2.4-cp37-cp37m-win64.whl"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
