<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/CSS-index/style.css">
    <link rel="stylesheet" href="./css/CSS-index/footer.css">

    <title>Sportvest- Login</title>
</head>

<body>

    <div class="header">
        <div class="center">
            <img src="./images/sportvest.png">
        </div>
    </div>
    <div class="container">
        <div class="login">
            <h2>FAZER LOGIN</h2>

            <label for="name">*E-mail:</label>
            <input type="email" placeholder="Email" required>

            <label for="name">*Senha:</label>
            <input type="password" placeholder="Senha" required>

            <a href="./recuperarsenha.html">Esqueceu a senha?</a>

            <button class="criarconta" id="nextcriarconta">Criar conta</button>
            <button id="nextentrar">Entrar</button>
        </div>
    </div>
    <footer class="footer">
        <div class="contato">
            <img src="./images/contato.png">
        </div>

        <div class="logo">
            <img src="./images/sportvest.png">
        </div>
    </footer>

    <script src="./JS/index.js"></script>

</body>

</html>